.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: $menu-z-index;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__center {
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__footer {
        width: 100%;
        padding: 56px 0;
    }
    &__social {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        max-width: 120px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
@import "./menu";
@import "./form";


@media screen and (max-width: 992px) {
    .navigation {
        &__wrap {
            flex-direction: column;
            align-items: stretch;
        }
    }
    .menu {
        padding-bottom: 7vh;
    }
}
@media screen and (max-width: 768px) {
    .menu {
        padding-top: 36px;
        &__link {
            @include fz(20)
        }
    }
    .form {
        &__text {
            @include fz(14);
            font-weight: 300;
        }
        &__item {
            flex-basis: 100%;
            margin-bottom: 16px;
            padding-top: 0;
        }
        &__button {
            position: relative;
            bottom: 0;
            width: 100%;
            right: 0;
            button {
                width: 100%;
            }
        }
    }
}