.header {
    padding: 56px 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    &_fixed {
        position: fixed;
        z-index: $header-z-index;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 240px;
        width: 100%;
        &_dark {
            path {
                fill: #fff
            }
        }
        &_white {
            path {
                fill: #000
            }
        }
    }
    &__left {
        flex-basis: 40%;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 60%;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &__callback {
        flex-basis: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        @include fz(14);
        &_dark {
            color: #fff;
        }
        &_white {
            color: #000;
        }
    }
    &__phone {
        a {
            @include fz(14);
            text-decoration: none;
        }
        &_dark {
            a {
                color: #fff;
            }
        }
        &_white {
            a {
                color: #000;
            }
        }
    }
    &__burger {
        text-align: right;
    }
}
@import "./callback";
@import "./burger";
@media screen and (max-width: 768px) {
    .header {
        padding: 32px 0;
    }
}