.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 10px;
    &_big {
        max-width: 1460px;
    }
}
.section {
    padding: 13vh 0;
    &_white {
        background-color: #fff;
    }
    &_dark {
        background-color: #171717;
    }
    &_padb6 {
        padding-bottom: 6vh;
    }
}