.title {
  padding: 0;
  margin: 0;
  &_page {
    @include fz(72);
    font-weight: 800;
    padding-bottom: 2vh;
    border-bottom: 1px solid #FFFFFF;
  }
  &_second {
    @include fz(32);
    font-weight: 700;
  }
  &_third {
    font-weight: 700;
    @include fz(24)
  }
  &_dark {
    color: #191919;
  }
  &_white {
    color: #fff;
  }
}