.first-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  &__slider {
    position: absolute;
    canvas {
      vertical-align: middle;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(#000, .35);
    }
  }
  &__content {
    position: relative;
  }
  &__top {
    padding: 56px 0;
    height: 32px;
  }
  &__bottom {
    padding: 56px 0;
  }
  &__center {
    position: relative;
    flex-basis: 100%;
    padding: 20vh 0;
    height: 100%;
    .wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      right: 0;
    }
  }
  &__title {
    max-width: 700px;
    padding: 0;
    margin: 0;
    width: 100%;
    @include fz(72);
    line-height: 84px;
    font-weight: 800;
    color: #fff;
  }
  &__link {
    padding-top: 24px;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
    svg {
      vertical-align: middle;
      padding-left: 16px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 5vh;
    margin: 0;
  }
  &__item {
    padding: 0 12px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__active {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    font-weight: 600;
    @include fz(12);
  }
  &__passive {
    cursor: pointer;
    width: 8px;
    height: 8px;
    display: block;
    opacity: 0.45;
    background-color: #fff;
    border-radius: 10em;
  }
  &__buttons {
    @include fz(12);
    a {
      text-decoration: none;
      color: #fff;
    }
    span {
      color: #fff;
      padding: 0 14px;
    }
  }
}